body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #be7dc7;
}
.box{
    width: 300px;
    padding: 50px;
    position: absolute;
    top: 370px;
    left: 770px;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    background: #fdfdfd;
    text-align: center;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);

}
.box h1{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #682359;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 280px;
    border-color: #be7dc7;
}
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #682359;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    border: 2px solid #be7dc7;
    background:  #be7dc7;
}
.box input[type="checkbox"]{
    color: #be7dc7;
}

.box button[type="text"],.box button[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #682359;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}
.box button[type="text"]:focus,.box button[type="password"]:focus{
    width: 280px;
    border-color: #be7dc7;
}
.box button[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #682359;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box button[type="submit"]:hover{
    border: 2px solid #be7dc7;
    background:  #be7dc7;
}
.box button[type="checkbox"]{
    color: #be7dc7;
}

@media screen and (max-width: 768px) {


    
}
